/*Paleta de colores*/
$color-principal: green;
$color-nav: rgb(47, 255, 78);
$color-verdeamarillo: greenyellow;
$color-secundario: yellow;
$color-amarilloverde: yellowgreen;
$color-terciario: white;
$color-noblanco: whitesmoke;
$color-cuaternario: red;
$color-naraja: orange;
$color-rojonaranja: orangered;
$color-azul: blue;
$color-morado: purple;
$color-cafe: brown;
$color-negro: black; 
