/* Uso de sass en la página inicio */
@import "./paleta-colores";
@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Danfo&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: poetsenone;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
    font-family: Foldit;
    src: url(../fonts/Foldit-VariableFont_wght.ttf);
}

@font-face { 
    font-family: Saira-light;
    src: url(../fonts/SairaCondensed-Light.ttf);
}

$footer-bg-color: #333;
$footer-text-color: #fff;
$footer-padding: 10px;
$footer-margin-top: 50px;
$footer-font-size: 20px;

.carrusel {
    max-width: 600px;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: 200px; /* es para ajustar altura en la imagenen en la pagina productos */
    object-fit: cover; /* Me sirve para mantener la proporción de la imagen en la pagina productos*/
    transition: transform 0.3s ease-in-out;
    }

.card-img-top:hover {
    transform: scale(1.2);
    object-fit: contain;
}
.separacion {
    
    margin-top: 100px;
}

.tienda {
    
    font-size: 30px;
}


.tigre {
    width: 100px;
}

$familia-titulo: sans-serif;

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row ;
    gap: 5rem;
}

.inicio {
    text-align: center;
    color: white;
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 50px;
    font-style: italic;
    border: 4px $color-principal;
    border-radius: 10px;
    background-color: $color-secundario;
       
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: $color-secundario; 
    background-color: $color-principal;
    font-family: poetsenone;
    border: 2px;
    margin-top: 5rem;
    font-size: 4rem;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: $color-principal;
    font-family: $familia-titulo;
    font-size: 5rem;
    margin-bottom: 4rem;
   
}

.independiente {
    font-family: $familia-titulo;
    color: $color-principal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    }

.separacion {
    padding: 2rem;
}

body {
    background-color: $color-terciario;
}

a:hover {
    background-color: $color-secundario;
    }

.maps {
    border: 10px solid $color-secundario;
    border-radius: 20px;
    background-color: $color-principal;
    width: 600px;
    height: 450px;
    padding: 10px;
    }

.nav{
    background-color: $color-nav;
    padding: 1rem;
}

.texto-rojo {
    color: $color-cuaternario;
}

.foto {
    background-image: url(../img/tigre\ solo\ png.png);
    width: 100%;
    height: 100%;
}

.menu2 {
    list-style-type: none;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    flex-flow:column;
    align-items: center;
    gap: 2rem;
}


.texto-verde {
    color: $color-principal;
}

.borde-uno {
    text-align: justify;
    font-size: 20px;
    padding: 1rem;
    border-radius: 50px;
}

.borde-dos {
    background-color: $color-secundario;
    border: 4px $color-principal;
    border-style: dotted;
    border-radius: 2px;
    padding: 1rem;
    margin: 50px;
    font-size: 25px;
}

.borde3{
    background-color: $color-principal;
    color:$color-terciario;
    border: 20px solid $color-secundario;
    border-radius: 10px;
    overflow: scroll;
    text-align: justify;
    padding: 20px;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-button {
    height: 100%;
    background-color: $color-principal;
    color: $color-terciario;
    padding: 10px 20px;
    font-size: x-large;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
        background-color: $color-secundario;
        color: $color-negro
    }
}

p  {
    font-family: Saira-light;
    
}

.parrafo1 {
    color: $color-principal;
    background-color: $color-secundario;

}
.parrafo2 {
    padding: 1rem;
}

.img {
    margin-left: 70px;
    width: 500px;
    inset-block: 20px;
}

.logo {
    
    grid-area:logo;
    background-color: $color-cuaternario;

}
    
.joao {
    height: 45%;
}

.inicio {
    text-align: center;
    color: $color-terciario;
}

.licra {
    margin-top: 50px;
    margin-left: 1px;
    width: 400px;
    inset-block: 100px;
}

.sinfondo {
    background-color: $color-terciario;
    padding: 1rem;
}

.fondo-dif {
    color: $color-principal;
    background-color: $color-terciario;
    margin-left: 10rem;
}

.contenedoruno {
    
    padding: 2rem;
    margin-top: 1px;
    font-size: 3rem;
        
}

.contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo cintas        cintasprincipiantes"
        "logo cintasintermedio cintasavanzadas";
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
   
}

.hijo {
    display: grid;
    place-items: center;
}

.ropa {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
}

.equipo {
    border: 10px solid $color-amarilloverde;
    margin-left: 5px; margin-right: 10px;
}

.grande {
    font-size: 2rem;
    text-align: center;
    padding: 50px;
}

.img {
    margin-left: 70px;
    width: 500px;
    inset-block: 20px;
}
    
section{
    margin-top: 4rem;
    display: flex;
}

/*para pagina Graduaciones*/

.blanca {
    list-style-type: none;
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid $color-noblanco;
    background-color: $color-noblanco;
    text-align: center;
    font-size: 5rem;
}

.amarilla {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid $color-secundario;
    background-color: $color-secundario;
    text-align: center;
    font-size: 5rem;
}

.naranja {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid $color-rojonaranja;
    background-color: $color-naraja;
    text-align: center;
    font-size: 5rem;
}

.azul {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid $color-azul;
    background-color: $color-azul;
    text-align: center;
    font-size: 5rem;
    color: $color-terciario
}

.morada {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid $color-morado;
    background-color: $color-morado;
    text-align: center;
    font-size: 5rem;
    color: $color-terciario
}

.cafe {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 50px;
    border: 1px solid $color-cafe;
    background-color: $color-cafe;
    text-align: center;
    font-size: 5rem;
    color: $color-terciario
}

.negro {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 50px;
    border: 1px solid $color-negro;
    background-color: $color-negro;
    text-align: center;
    color: $color-terciario;
    font-size: 5rem;
}

.mestre {
    list-style-type: none;
    margin-top: 1px;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid $color-cuaternario;
    background-color: $color-cuaternario;
    text-align: center;
    font-size: 5rem;
}

.cintas {
    grid-area: cintas;
    background-color: greenyellow;
           
}
.cintasprincipiantes {
    grid-area: cintasprincipiantes;
    background-color: green;
}
.cintasintermedio {
    grid-area: cintasintermedio;
    background-color: green;
}
.cintasavanzadas {
    grid-area: cintasavanzadas;
background-color: $color-verdeamarillo;
}

@media (width < 2500px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo"
        "cintas cintasprincipiantes"
        "cintasintermedio cintasavanzadas";
    }
}

@media (width < 1000px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1rf);
        grid-template-areas: 
        "logo"
        "cintas"
        "cintasprincipiantes"
        "cintasintermedio" 
        "cintasavanzadas";
    }
}

footer {
background-color: $footer-bg-color;
  color: $footer-text-color;
  text-align: center;
  text-size-adjust: 20px;
  padding: $footer-padding;
  margin-top: $footer-margin-top; 
  position: relative;
  font-size: $footer-font-size;
  }
  footer p { margin: 0}

